.content{
    background: chocolate;
    width: 100%;
    height: 100%;
}
.header{
    background: blue;
    width: 100%;
    height: 30px;
}
.body{
    background: rgb(112, 218, 156);
    width: 100%;
    height: calc(100% - 30px);
}
.footer{
    background: darksalmon;
    width: 100%;
    height: 30px;
}